<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpicyX | Home</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    
    <!-- Slick slider -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-datepicker.css">
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <!-- Theme color -->
    <link id="switcher" href="~/assets/css/theme-color/default-theme.css" rel="stylesheet">
    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
    
    @* ------------------Script library---------------- *@
    @*<script src="~/Scripts/js/jquery-1.11.0.min.js"></script>*@
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/JavascriptFile/js/i18n/grid.locale-en.js"></script>
    <script src="~/JavascriptFile/js/jquery.jqGrid.min.js"></script>
    <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
   @* <link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/JavascriptFile/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/bootstrap.js"></script>
   @* <script src="~/JavascriptFile/bootstrap.min.js"></script>*@
    <script src="~/assets/ModalJS/run_prettify.js"></script>
    <link href="~/assets/ModalCS/bootstrap-dialog.css" rel="stylesheet" />
    <script src="~/assets/ModalJS/bootstrap-dialog.js"></script>
    @* ----------------------------------------------- *@
    <script src="~/assets/PageScript/CommonScript/mainfunction.js"></script>
    <script src="~/assets/PageScript/CommonScript/SSRL.MAIN.js"></script>
    <script src="~/assets/PageScript/CommonScript/SSRL.STYLE.js"></script>
    <!-- Main style sheet -->
    <link href="~/CSS/style.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .navbar-admin {
            background-color: #444;
            padding: 10px 0;
        }
        body {
            font-family: "tahoma", serif;
            color: #333333;
            font-size: 12px;
        }

        .center {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 100px;
            background-color: none /*#ccc*/;
            border-radius: 3px;
            opacity: 1;
            display: none;
        }

        .center-div {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100px;
            height: 100px;
            background-color: none /*#ccc*/;
            border-radius: 3px;
            opacity: 1;
            display: none;
        }

        /*.container {
            width: 1024px;
            padding: 2em;
        }*/

        .bold-blue {
            font-weight: bold;
            color: #0277BD;
        }

        .background {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: gray;
            display: block;
            z-index: 900;
        }

        /*.content {
            width: 200px;
            height: 600px;
            background-color: white;
            position: absolute;
            top: 60%;
            left: 45%;
            margin-left: -120px; 
            margin-top: -300px; 
        }*/
    </style>
</head>

<body > 
    <header id="mu-header">
        <nav class="navbar navbar-default mu-main-navbar navbar-admin" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                    <!-- LOGO -->
                    <!--  Image based logo  -->
                    @*<a class="navbar-brand" href="index.html"></a>*@
                    <img src="~/assets/img/logo.png" alt="Logo img">
                    <!--  Text based logo  -->
                    <!--           <a class="navbar-brand" href="index.html"><span>SpicyX</span></a>   -->
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="top-menu" class="nav navbar-nav navbar-right mu-main-nav">
                        <li><a href="http://rmsweb.devscraft.com/">HOME</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" >SETTINGS <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Settings/UserInformation">USER INFORMATON</a></li>
                                <li><a href="/Settings/MenuPermission">PERMISSION</a></li>
                                <li><a href="/Settings/MenuCategory">MENU CATEGORY</a></li>
                                <li><a href="/Settings/MenuSubCategory">MENU SUB CATEGORY</a></li>     
                                <li><a href="/Settings/ReservationType">RESERVATION</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">MENU <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/FoodMenu/FoodMenuA">CREATE MENU</a></li>
                                <li><a href="/FoodMenu/ViewMenuList">VIEW MENU</a></li>
                                <li><a href="#">MENU LIST</a></li>
                                <li><a href="/Reservation/ReservationAllocation">RESERVATION ALLOCATION</a></li>
                                <li><a href="404.html">404 PAGE</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Wealcome! @System.Web.HttpContext.Current.Session["UserName"].ToString() <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/Account/LogOut">Log-Out</a></li>
                                
                            </ul>
                        </li>
                        
                        @*<li><a href="#mu-restaurant-menu">MENU</a></li>
                        <li><a href="#mu-reservation">RESERVATION</a></li>
                        <li><a href="#mu-gallery">GALLERY</a></li>
                        <li><a href="#mu-chef">OUR TEAM</a></li>
                        <li><a href="#mu-latest-news">BLOG</a></li>
                        <li><a href="#mu-contact">CONTACT</a></li>
                        <li><a href="#mu-arup">Arup</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="blog-archive.html">PAGE <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="blog-archive.html">BLOG</a></li>
                                <li><a href="blog-single.html">BLOG DETAILS</a></li>
                                <li><a href="404.html">404 PAGE</a></li>
                            </ul>
                        </li>*@
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <div id="contenbody">
        @RenderBody()        
    </div>    
         
    
    <!-- Start Map section -->
   
    <!-- End Map section -->
    <!-- Start Footer -->
    @*<footer id="mu-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-footer-area">
                        <div class="mu-footer-social">
                            <a href="#"><span class="fa fa-facebook"></span></a>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                            <a href="#"><span class="fa fa-google-plus"></span></a>
                            <a href="#"><span class="fa fa-linkedin"></span></a>
                            <a href="#"><span class="fa fa-youtube"></span></a>
                        </div>
                        <div class="mu-footer-copyright">
                            <p>Designed by <a rel="nofollow" href="http://tri-geek.devscraft.com">TRI-GEEKS</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>*@
    <!-- End Footer -->
    <!-- jQuery library -->
    @*<script src="~/assets/js/jquery.min.js"></script>*@
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="~/assets/js/bootstrap.js"></script>*@
    <!-- Slick slider -->
    <script type="text/javascript" src="~/assets/js/slick.js"></script>
    <!-- Counter -->
    <script type="text/javascript" src="~/assets/js/waypoints.js"></script>
    <script type="text/javascript" src="~/assets/js/jquery.counterup.js"></script>
    <!-- Date Picker -->
    <script type="text/javascript" src="~/assets/js/bootstrap-datepicker.js"></script>

    <!-- Custom js -->
    <script src="~/assets/js/custom.js"></script> 

    <div id="fade" style="height: 768px;z-index:900;opacity:5; display:none" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 center"></div>
    <div id="modal" class="center-div"><img id="loader" src="~/image/ajax-loader1.gif" /><br>Please wait..</div>
</body>
</html>


<script type="text/javascript">
    $(function () {
        //$(window).height()
        $('#contenbody').css('height', $(window).height() - 138);
    });
</script>