@{
    ViewBag.Title = "UserInformation";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}
<script src="~/JavascriptFile/PageScript/Settings/UserInformation.js"></script>
<style type="text/css">
    #mu-reservation {
        background-color: #fff;
        display: inline;
        float: left;
        padding: 100px 0;
        width: 100%;
    }

        #mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form button[type="submit"], button[type="button"] {
            border: none;
            margin-top: 20px;
            margin-left: 15px;
        }
        #mu-reservation .mu-reservation-area .mu-reservation-content {
            display: inline;
            float: left;
            margin-top: 0px;
            padding: 0 100px;
            width: 100%;
        }
            #mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form {
                /*margin-top: 30px;*/
                text-align: center;
                margin-left: -15%;
            }

    .form-control {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        /*border-radius: 4px;*/
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    #mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="text"],
    #mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="email"],
    #mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form input[type="password"] {
        border-radius: 0;
        color: #000;
        height: 34px;
    }

    .ui-jqgrid {
        position: relative;
        border: 1px solid #ddd;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    /*.table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 1px solid #c1a35f;
    }*/
</style>

<section id="mu-reservation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-reservation-area">
                    <div class="mu-title">
                        <span class="mu-subtitle">Make A</span>
                        <h3 style="color:black">User</h3>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>
                    <div class="mu-reservation-content">
                        @using (Html.BeginForm(new { @class = "mu-reservation-form" }))
                        {
                            <div class="mu-reservation-form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="User Id" name="UserID" id="UserID" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="User Full Name" name="UserFullName" id="UserFullName" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Email" name="Email" id="Email" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Contact" name="Contact" id="Contact" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="User Name" name="UserName" id="UserName" required>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Password" name="Password" id="Password" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword" id="ConfirmPassword" required>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-6 form-group">
                                                @*<input type="checkbox" class="" name="IsAdmin" id="IsAdmin"> <span style="color: #444"> Admin</span>*@
                                                @Html.CheckBox("IsAdmin",new { @id= "IsAdmin" })<span style="color: #444"> Admin</span>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                @*<input type="checkbox" class="" name="IsActive" id="IsActive"> <span style="color: #444"> Active</span>*@
                                                @Html.CheckBox("IsActive",new { @id= "IsActive" })<span style="color: #444"> Active</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="col-md-12">
                                            <table id="JQUserList"></table>
                                            <div id="JQUserPager"></div>
                                        </div>

                                    </div>

                                    <div class="col-md-12">
                                        <button type="button" class="mu-readmore-btn" onclick="fNew()">New</button><button type="submit" class="mu-readmore-btn">Make User</button>
                                    </div>

                                </div>
                            </div>
                        }
                        
                        @*<form class="mu-reservation-form" method="post" action="UserInformationC">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Id" name="UserID">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Full Name" name="UserFullName">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Email" name="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Contact" name="Contact">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="User Name" name="UserName">
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password" name="Password">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-6 form-group">
                                            <input type="checkbox" class="" name="IsAdmin" id="IsAdmin"> <span style="color: #444"> Admin</span>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input type="checkbox" class="" name="IsActive" id="IsActive"> <span style="color: #444"> Active</span>
                                        </div>

                                    </div>                                    
                                </div>

                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <table id="JQUserList"></table>
                                        <div id="JQUserPager"></div>
                                    </div>                                  

                                </div>

                                <div class="col-md-12">
                                    <button type="button" class="mu-readmore-btn">Search</button><button type="submit" class="mu-readmore-btn">Make Menu</button>
                                </div>

                            </div>
                        </form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>