@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}
<script src="~/JavascriptFile/PageScript/BashBoard.js"></script>
<script src="~/JavascriptFile/Common/JQCommon.js"></script>
<style type="text/css">
        #mu-reservation {
        background-color: #fff;
        display: inline;
        float: left;
        padding: 100px 0;
        width: 100%;
        }

        #mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form button[type="submit"], button[type="button"] {
            border: none;
            margin-top: 20px;
            /*margin-left: 15px;*/
        }

        #mu-reservation .mu-reservation-area .mu-reservation-content {
            display: inline;
            float: left;
            margin-top: 0px;
            /*padding: 0 100px;*/
            width: 100%;
        }

            #mu-reservation .mu-reservation-area .mu-reservation-content .mu-reservation-form {
                margin-top: -40px;
                text-align: center;
                margin-top: 25px;
            }

        .row {
        /*margin-right: -15px;*/
        margin-left: -7%;
        /*padding-bottom: 25px;*/
        }

        .ui-jqgrid {
        position: relative;
        /*border: 1px solid #c1a35f;*/
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 0px;
        }

    /*.table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 1px solid #c1a35f;
    }*/
</style>

<section id="mu-reservation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-reservation-area">
                    @*<div class="mu-title">
                        <span class="mu-subtitle">View</span>
                        <h2 style="color:black">Booking List</h2>
                        <i class="fa fa-spoon"></i>
                        <span class="mu-title-bar"></span>
                    </div>*@
                    <div class="mu-reservation-content">
                        <div class="row">
                            <h3 style="color:black">Booking Summary from Today's to advance</h3>
                        </div>
                        <div class="row" style="margin-top:2%;">
                            <table id="JQBookingSummary"></table>
                            <div id="JQBookingSummarypager"></div>
                        </div>
                    </div>

                        <div class="mu-reservation-content" style="margin-top:2%;border-top:solid thin black">
                            <div class="row">
                                <h3 style="color:black">Booking Details from Today's to advance</h3>
                            </div>
                            <form class="mu-reservation-form">
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" id="ReservationType" name="ReservationType">
                                                <option value="0">--Select Category--</option>
                                                <option value="1">Break Fast</option>
                                                <option value="2">Launch</option>
                                                <option value="3">Dinner</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Booking Date" name="BookingDate" id="datepicker">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" id="ReservationStatus" name="ReservationStatus">
                                                <option value="0">--Select Status--</option>
                                                <option value="1">Open</option>
                                                <option value="2">Close</option>
                                                <option value="3">Cancealed</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button type="button" class="mu-readmore-btn" id="search">Search</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="row" style="padding-left:0%">
                                    <table id="JQBookingList"></table>
                                    <div id="JQBookingpager"></div>
                                </div>

                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>