.ui-jqgrid-view > .ui-jqgrid-titlebar {
        height: 30px;
        line-height: 10px;
        color: #FFF;
        background: #62a8d1;
        padding: 0;
        font-size: 14px;
    }
    .ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
        border-bottom: 1px solid #E1E1E1;
        padding: 6px 4px;
        border-color: #E1E1E1;
    }
    .ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-selbox, .ui-jqgrid .ui-pg-table {
        font-size: 12px;
    }
    .ui-jqgrid .ui-jqgrid-htable th div {
        padding-top: 12px;
        padding-bottom: 12px;
        overflow: visible;
        font-size: 12px;
        font-family: Tahoma;
        text-align: center;
        font-weight:200;
    }

    .ui-jqgrid tr.footrow td {
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    height: 20px;
    padding: 0 2px;
    border-top-width: 1px;
    border-top-color: #62a8d1;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #62a8d1;
    border-bottom-style: solid;
}
    .ui-jqgrid tr.footrow-ltr td {
    /*text-align: left;*/
    border-right-width: 1px;
    border-right-color: #62a8d1;
    border-right-style: solid;
    border-left-color: #62a8d1;
}


    .ui-jqgrid .ui-jqgrid-pager {
        border-left: 0 none !important;
        border-right: 0 none !important;
        border-bottom: 0 none !important;
        border-top: 0 none;
        margin: 0 !important;
        padding: 0 !important;
        position: relative;
        height: auto;
        min-height: 28px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 11px;
        z-index: 0;
    }
    .ui-jqgrid .ui-jqgrid-view button, .ui-jqgrid .ui-jqgrid-view input, .ui-jqgrid .ui-jqgrid-view select, .ui-jqgrid .ui-jqgrid-view textarea {
        font-size: 12px;
    }

    .ui-jqgrid-btable select {
        padding: 1px;
        height: 22px;
        line-height: 25px;
        width: 100%;
    }

    .ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid tr.ui-row-rtl td {
        border-bottom: 1px solid #E1E1E1;
        padding: 0px 0px;
        border-color: #E1E1E1;
    }

    .ui-jqgrid .edit-cell, .ui-jqgrid .inline-edit-cell {
        padding: 0px 0 0px 0px;
    }